@model  SMS.UI.Mvc3.Demo.Models.LogOnModel
@{
    ViewBag.Title = "登录";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#btnReg").click(function () {
            var url = '@Url.Action("Register")';
            $.get(url, { rand: rand(9999) }, function (data) {
                $("#main").html(data);
            });
        });

        //        $("#btnSubmit").click(function () {
        //            $("#logonForm").ajaxSubmit(function (data) {
        //                $("#masterContent").html(data);
        //            });
        //        });
    });
</script>
<div class="block">
    <p>
        请输入用户名和密码。 如果您没有帐户，请
        @Html.ActionLink("注册", "Register", null, new { id = "btnReg", href = "#" });
    </p>
    @{ using (Html.BeginForm())
       { 
        @Html.ValidationSummary(true, "登录不成功。请更正错误并重试。") 
        
@*<table style="margin-left:auto;margin-right:auto;">*@
        <table>
            <tr>
                <th>@Html.LabelFor(m => m.UserName)
                </th>
                <td>@Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <th>@Html.LabelFor(m => m.Password)
                </th>
                <td>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="登录" id="btnSubmit" />
        </p>
       }
    }
</div>
