<!DOCTYPE html>
<html>
<head>
    @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="http://www.google.com/favicon.ico" />
    <link href="@Url.Content("~/Content/Styles/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jqueryui/ui-lightness/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/memu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Styles/icon.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Site.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/memu.js")" type="text/javascript"></script>
    
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {

            // Dialog			
            $('#query-dialog').dialog({
                autoOpen: false,
                width: 400,

                buttons: {
                    "确定": function () {
                        alert("你点击了Dialog的确定按钮");
                    },
                    "取消": function () {
                        $(this).dialog("close");
                    }
                },
                open: function () {
                    $("input[name=FmSn]").val("");
                    $("input[name=FmName]").val("");
                    $("input[name=OrgCode]").val("");
                    $("input[name=OrgName]").val("");
                }
            });
            $("#btnQuery").click(function () {
                $('#query-dialog').dialog('open');
                return false;
            });

            $("#btnMain").click(function () {
                var url = '@Url.Action("BookList")';
                $.get(url, { rand: rand(9999) }, function (data) {
                    $("#content").html(data);
                });
            });


            $('.js-enabled').memu({
                icon: {
                    inset: true, 	// create an inset where there is no icon
                    margin: {		// specify the margins of the icon (put them how it's right for you
                        top: 11,
                        right: 10
                    }
                },
                width: 150, 		// the width of the (drop down) items
                rootWidth: 130, 		// the width of the (root) items
                height: 39			// the height of the items
            });
        });
    </script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    SMS之MVC3</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("LogOnUserControl")
            </div>
            <div id="menucontainer">
                @*<ul id="menu">
                    <li><a href="#" id="btnMain" target="_self">主页</a></li>
                    <li><a href="#" id="btnQuery">检索</a> </li>
                </ul>*@
                
        <ul class="memu js-enabled">
            <li class="memu-root"><a href="#">货物管理[M]</a>
                <ul>
                    <li class="has-children"><a href="sample_2.html">
                        <div class="memu-icon sprite-page_white">
                        </div>
                        New</a>
                        <ul>
                            <li><a href="#">
                                <div class="memu-icon sprite-page_white">
                                </div>
                                Text Document</a></li>
                            <li><a href="#">
                                <div class="memu-icon sprite-script_code">
                                </div>
                                HTML Document</a></li>
                            <li><a href="#">
                                <div class="memu-icon sprite-script_palette">
                                </div>
                                CSS Document</a></li>
                            <li><a href="#">
                                <div class="memu-icon sprite-script">
                                </div>
                                JS Document</a></li>
                            <li><a href="#">
                                <div class="memu-icon sprite-page_white_c">
                                </div>
                                C Document</a></li>
                        </ul>
                    </li>
                    <li><a href="#">
                        <div class="memu-icon sprite-folder">
                        </div>
                        Open...</a></li>
                    <li><a href="#">
                        <div class="memu-icon sprite-disk">
                        </div>
                        Save</a></li>
                    <li><a href="#">
                        <div class="memu-icon sprite-disk_multiple">
                        </div>
                        Save As...</a></li>
                    <li><a href="#">
                        <div class="memu-icon sprite-page_white_edit">
                        </div>
                        Page Setup...</a></li>
                    <li><a href="#">
                        <div class="memu-icon sprite-printer">
                        </div>
                        Print</a></li>
                    <li><a href="#">
                        <div class="memu-icon sprite-delete">
                        </div>
                        Exit</a></li>
                </ul>
            </li>
            <li class="memu-root"><a href="#">基本档案[I]</a>
                <ul>
                    <li><a href="#">Undo</a></li>
                    <li><a href="#">Cut</a></li>
                    <li><a href="#">Copy</a></li>
                    <li><a href="#">Paste</a></li>
                    <li><a href="#">Delete</a></li>
                    <li><a href="#">Find...</a></li>
                    <li><a href="#">Find Next</a></li>
                    <li><a href="#">Replace...</a></li>
                    <li><a href="#">Go To...</a></li>
                    <li><a href="#">Select All</a></li>
                    <li><a href="#">Time/Date</a></li>
                    <li class="has-children"><a href="#">Preferences</a>
                        <ul>
                            <li class="has-children"><a href="#">Text Color</a>
                                <ul>
                                    <li><a href="#">Blue</a></li>
                                    <li><a href="#">Red</a></li>
                                    <li><a href="#">Green</a></li>
                                    <li><a href="#">Brown</a></li>
                                    <li><a href="#">Orange</a></li>
                                </ul>
                            </li>
                            <li class="has-children"><a href="#">Background</a>
                                <ul>
                                    <li><a href="#">Blue</a></li>
                                    <li><a href="#">Red</a></li>
                                    <li><a href="#">Green</a></li>
                                    <li><a href="#">Brown</a></li>
                                    <li><a href="#">Orange</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="memu-root"><a href="#">查询统计[S]</a>
                <ul>
                    <li><a href="#">Word Wrap</a></li>
                    <li><a href="#">Font...</a></li>
                </ul>
            </li>
            <li class="memu-root"><a href="#">系统维护[W]</a>
                <ul>
                    <li><a href="#">Status Bar</a></li>
                </ul>
            </li>
            <li class="memu-root"><a href="#">帮助[H]</a>
                <ul>
                    <li><a href="#">Status Bar</a></li>
                </ul>
            </li>
        </ul>
        <div class="clear"></div>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            @@CopyRight2011
        </div>
    </div>
    <div id="query-dialog" title="检索条件" class="dlg">
        @using (Html.BeginForm("CardQuery", "SpecialCard", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <table class="tb-query">
                <tr>
                    <th>
                        书名
                    </th>
                    <td>@Html.TextBox("Name")
                    </td>
                </tr>
                <tr>
                    <th>
                        作者
                    </th>
                    <td>@Html.TextBox("Author")
                    </td>
                </tr>
                <tr>
                    <th>
                        销售地区（省）
                    </th>
                    <td>@Html.TextBox("Province")
                    </td>
                </tr>
            </table>
        }
    </div>
    <div id="loading">
        <span>请稍候……</span>
    </div>
</body>
</html>
