@model  SMS.UI.Mvc3.Models.tb_User
@{
    ViewBag.Title = "登录";
}
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#btnReg").click(function () {
            var url = '@Url.Action("Register")';
            $.get(url, { rand: rand(9999) }, function (data) {
                $("#main").html(data);
            });
        });

        //        $("#btnSubmit").click(function () {
        //            $("#logonForm").ajaxSubmit(function (data) {
        //                $("#masterContent").html(data);
        //            });
        //        });
    });
</script>
<div class="block">
    <p>
        请输入用户名和密码。 如果您没有帐户，请
        @Html.ActionLink("注册", "Register", null, new { id = "btnReg", href = "#" });
    </p>
    @*@{ using (Html.BeginForm())
       { 
        @Html.ValidationSummary(true, "登录不成功。请更正错误并重试。") *@
    @{ using (Html.BeginForm("Logon", "Account", FormMethod.Post))
           { 
        <table>
            <tr>
                <th>用户名
                </th>
                <td>@Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </td>
            </tr>
            <tr>
                <th>密码
                </th>
                <td>
                    @Html.PasswordFor(m => m.UserPwd)
                    @Html.ValidationMessageFor(m => m.UserPwd)
                </td>
            </tr>
        </table>
        <p>
            <input type="submit" value="登录" id="btnSubmit" />
        </p>
           }
    }
</div>
